/* ######################################################################################################
** # "YAML to Joomla Template" (c) by Reinhard Hiebl (www.to-joomla.de - www.hieblmedia.de) #############
** ######################################################################################################
** # "Yet Another Multicolum Layout" (c) by Dirk Jesse (http://www.yaml.de) #############################
** ######################################################################################################
** 
**  YAML Version: 2.5
**  Dateiversion: 18.06.06  
**  Datei       : nav_vlist.css
**  Funktion    : Formatierung der Hauptnavigation: Reiternavigation "Sliding Doors"
**
*/

@media all
{
/* ######################################################################################################
** # "YAML to Joomla Template" (c) by Reinhard Hiebl (www.to-joomla.de - www.hieblmedia.de) #############
** ######################################################################################################
** ### Vertikale Listennavigation #######################################################################
** ######################################################################################################
*/

	#submenu { 
		width: 100%; 
		overflow: hidden;
		margin: 2em 0 1.5em 0; 
		list-style-type: none; 
		border-top: 2px #ddd solid; 
		border-bottom: 2px #ddd solid; 
	}
	
	#submenu a { display:block; text-decoration: none; }
	#submenu li { float:left; width: 100%; margin:0; padding: 0 }

	#submenu li span { 
		display:block; 
		width: 90%; 
		padding: 3px 0px 3px 10%; 
		background-color:#f4f4f4; 
		color: #444; 
		font-weight: bold; 
		border-bottom: 1px #ddd solid;
	}
	
	#submenu li a { 
		width: 90%; 
		padding: 3px 0px 3px 10%; 
		background-color:#fff; 
		color: #444; 
		border-bottom: 1px #eee solid;
	}
	
	#submenu li a img { 
		vertical-align:middle;
	}	
	#submenu li a:hover { background-color:#d8cfff; color: #332; }
	
	#submenu li ul { list-style-type: none; margin:0; padding: 0; }
	#submenu li ul li { float:left; width: 100%; margin:0; padding:0; }
	#submenu li ul li a { 
		width: 80%; 
		padding: 3px 0px 3px 20%; 
		background-color:#f8f8f8; 
		color: #666; 
		border-bottom: 1px #ddd solid; 
	}
	
	#submenu li#submenu_current a { 
		background-color:#f8f8f8; 
		color: #666; 
		font-weight: bold; 
	}
	#submenu li#submenu_current ul li a { 
		font-weight:normal;
	}

	#submenu li ul li a:hover, #submenu li#submenu_current a:hover { background-color:#aaa7c6; color: #fff; }
	
	#submenu li#title { 
		width: 90%; 
		padding: 3px 0px 3px 10%; 
		font-weight: bold; 
		color: #444; 
		background-color: #fff; 
		border-bottom: 4px #888 solid; 
	}
	
	#submenu li#active, #submenu li#submenu_current a#submenu_active_link { 
		width: 90%; 
		padding: 3px 0px 3px 10%; 
		font-weight: bold; 
		color: #fff; 
		background-color:#aab; 
		border-bottom: 1px #eee solid;
	}
	
	#submenu li ul li#active { 
		width: 80%; 
		padding: 3px 0px 3px 20%; 
		font-weight: bold; 
		color: #fff; 
		background-color:#aab; 
		border-bottom: 1px #fff solid;
	}
	
	
	#submenu li ul li#active a, #submenu li#active a#submenu_active_link { 
		background:inherit;
		padding:0;
		margin:0;
		border:0;
		color:inherit;	
	}
	
	

	/* ######################################################################################################
	** # For Joomla Module mod_mainmenu - FLAT LIST #########################################################
	** ######################################################################################################
	*/
	#main #mainlevel { 
		width: 100%; 
		overflow: hidden;
		margin: 0 0 1.5em 0; 
		list-style-type: none; 
		border-top: 2px #ddd solid; 
		border-bottom: 2px #ddd solid; 
	}
	
	#main #mainlevel a { display:block; text-decoration: none; }
	#main #mainlevel li { float:left; width: 100%; margin:0; padding: 0 }

	#main #mainlevel li a { 
		width: 90%; 
		padding: 3px 0px 3px 10%; 
		background-color:#fff; 
		color: #444; 
		border-bottom: 1px #eee solid;
	}
	#main #mainlevel li a:hover { background-color:#d8cfff; color: #332; }
	
	
	#main #mainlevel li a#active_menu { 
		width: 90%; 
		padding: 3px 0px 3px 10%; 
		font-weight: bold; 
		color: #fff; 
		background-color:#aab; 
		border-bottom: 1px #eee solid;
	}
	
	
	/* ######################################################################################################
	** # For Joomla Module mod_mainmenu - VERTICAL ##########################################################
	** ######################################################################################################
	*/
	#main table td a.mainlevel {
		width:100%;
		display:block;
		text-decoration: none;
		padding: 3px 0; 
		background-color:#fff; 
		color: #444; 
		border-top: 1px #eee solid;
		border-bottom: 1px #eee solid;
		text-indent:10px;
		margin-bottom:-1px;
	}
	
	#main table td a.mainlevel:hover { 
		background-color:#d8cfff; color: #332;
	}
	
	#main table td a#active_menu { 
		font-weight: bold; 
		color: #fff; 
		background-color:#aab; 
	}	
	
}